<div class="jumbotron">
    <h1>Mediathek</h1>
    <p class="lead">Mediathek zur Verwaltung von Medien.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Filme</h2>
        <p>Sieh dir alle verfügbaren Filme an!</p>
        <p class="btn btn-dark" @Html.ActionLink("Gehe zu", "Index", "Movies")> </p>
    </div>
    <div class="col-md-4">
        <h2>Musik</h2>
        <p>Sieh dir die gesamte Musiksammlung an!</p>
        <p class="btn btn-dark" @Html.ActionLink("Gehe zu", "Index", "Music")></p>
    </div>
    <div class="col-md-4">
        <h2>Anmeldung</h2>
        <p>Melde dich an oder registriere dich!</p>
        <p class="btn btn-dark" href="https://go.microsoft.com/fwlink/?LinkId=301872"></p>
    </div>
</div>
